<div>
    <h1> Products Details</h1>
</div>
<div *ngIf="product">
    <form>
        <div class="input-box">
            <label>Name:</label>
            <input type="text" value="{{product.name}}" disabled>
        </div>
        <div class="input-box">
            <label>Description:</label>
            <input type="text" value="{{product.description}}" disabled>
        </div>
        <div class="input-box">
            <label>Price:</label>
            <input type="number" value="{{product.price}}" disabled>
        </div>
        <div class="input-box">
            <label>Color:</label>
            <input type="text" value="{{product.color}}" disabled>
        </div>
        <div class="input-box">
            <label>Category Name:</label>
            <input type="text" value="{{product.category.name}}" disabled>
        </div>

        <div class = "btn-box">
            <button routerLink="">Cancel</button>
        </div>
    </form>
</div>